In [65]:
import pandas as pd 
from itertools import product
import os
import random

In [66]:
def get_code(offset, r0, r1, loop_num, dummy_num):
    
    code = rf"""

    ; ------------------------------------
    ; Author: Hosein Yavarzadeh 
    ; Email: hyavarzadeh@ucsd.edu
    ; Supervisor: Prof. Dean Tullsen
    ; ------------------------------------

    %define repeat0  {r0}             ; Number of repetitions of whole test. Default = 8
    %define repeat1  {r1}           ; Repeat count for loop around testcode. Default = no loop
    %define repeat2  1              ; Repeat count for repeat macro around testcode. Default = 100

    %macro testinitc 0              ; Macro to call in each test before reading counters.
        mov dword[PrintCustomPMC], 1
        mov ebx, 8000             
        lea rdi, [UserData]
        rand_loop:
        rdrand eax
        and eax, 1
        mov [rdi], al
        inc rdi
        dec ebx
        jnz rand_loop

    %endmacro

    %macro testinit2 0              ; Macro with initializations before each test. Default = nothing
        lea rdi, [UserData]
    %endmacro

    %macro testcode 0               ; A multi-line macro executing any piece of test code.

        inc rdi

        cmp byte[rdi],0
        
        ; dummy_branch 300, 0

        ; jmp rand_branch
        mov rax, {offset}
        mov rbx, rand_branch_back
        mov rdx, {loop_num}
        mov rcx, 0
        cmp rcx, 0
        jmp rax
        rand_branch_back:

        dummy_branch {dummy_num}, 5

        lfence
        
        ; test branch
        READ_PMC_START
        cmp byte[rdi],0
        je target2
        target2:
        READ_PMC_END

    %endmacro

    %macro dummy_branch 2
        mov rax, 0
        %assign i (100)*(%2)
        %assign j (100)*(%2)
        %rep %1
                %assign j i+1
                label%+ i:
                cmp rax, 0
                je label%+ j 
                %assign i j  
        %endrep
        label%+ j:
    %endmacro

    """
    return code

In [67]:
ld_script = r"""
/* Script for -z combreloc -z separate-code */
/* Copyright (C) 2014-2020 Free Software Foundation, Inc.
   Copying and distribution of this script, with or without modification,
   are permitted in any medium without royalty provided the copyright
   notice and this notice are preserved.  */
OUTPUT_FORMAT("elf64-x86-64", "elf64-x86-64",
	      "elf64-x86-64")
OUTPUT_ARCH(i386:x86-64)
ENTRY(_start)
SEARCH_DIR("=/usr/local/lib/x86_64-linux-gnu"); SEARCH_DIR("=/lib/x86_64-linux-gnu"); SEARCH_DIR("=/usr/lib/x86_64-linux-gnu"); SEARCH_DIR("=/usr/lib/x86_64-linux-gnu64"); SEARCH_DIR("=/usr/local/lib64"); SEARCH_DIR("=/lib64"); SEARCH_DIR("=/usr/lib64"); SEARCH_DIR("=/usr/local/lib"); SEARCH_DIR("=/lib"); SEARCH_DIR("=/usr/lib"); SEARCH_DIR("=/usr/x86_64-linux-gnu/lib64"); SEARCH_DIR("=/usr/x86_64-linux-gnu/lib");
SECTIONS
{
  PROVIDE (__executable_start = SEGMENT_START("text-segment", 0x400000)); . = SEGMENT_START("text-segment", 0x400000) + SIZEOF_HEADERS;
  .interp         : { *(.interp) }
  .note.gnu.build-id  : { *(.note.gnu.build-id) }
  .hash           : { *(.hash) }
  .gnu.hash       : { *(.gnu.hash) }
  .dynsym         : { *(.dynsym) }
  .dynstr         : { *(.dynstr) }
  .gnu.version    : { *(.gnu.version) }
  .gnu.version_d  : { *(.gnu.version_d) }
  .gnu.version_r  : { *(.gnu.version_r) }
  .rela.dyn       :
    {
      *(.rela.init)
      *(.rela.text .rela.text.* .rela.gnu.linkonce.t.*)
      *(.rela.fini)
      *(.rela.rodata .rela.rodata.* .rela.gnu.linkonce.r.*)
      *(.rela.data .rela.data.* .rela.gnu.linkonce.d.*)
      *(.rela.tdata .rela.tdata.* .rela.gnu.linkonce.td.*)
      *(.rela.tbss .rela.tbss.* .rela.gnu.linkonce.tb.*)
      *(.rela.ctors)
      *(.rela.dtors)
      *(.rela.got)
      *(.rela.bss .rela.bss.* .rela.gnu.linkonce.b.*)
      *(.rela.ldata .rela.ldata.* .rela.gnu.linkonce.l.*)
      *(.rela.lbss .rela.lbss.* .rela.gnu.linkonce.lb.*)
      *(.rela.lrodata .rela.lrodata.* .rela.gnu.linkonce.lr.*)
      *(.rela.ifunc)
    }
  .rela.plt       :
    {
      *(.rela.plt)
      PROVIDE_HIDDEN (__rela_iplt_start = .);
      *(.rela.iplt)
      PROVIDE_HIDDEN (__rela_iplt_end = .);
    }
  . = ALIGN(CONSTANT (MAXPAGESIZE));
  .init           :
  {
    KEEP (*(SORT_NONE(.init)))
  }
  .plt            : { *(.plt) *(.iplt) }
.plt.got        : { *(.plt.got) }
.plt.sec        : { *(.plt.sec) }
  . = 0x40000000;
  .text           :
  {
    b64.o (.text .stub .text.* .gnu.linkonce.t.*)
    *(.text.unlikely .text.*_unlikely .text.unlikely.*)
    *(.text.exit .text.exit.*)
    *(.text.startup .text.startup.*)
    *(.text.hot .text.hot.*)
    *(SORT(.text.sorted.*))
    a64.o (.text .stub .text.* .gnu.linkonce.t.*)
    /* .gnu.warning sections are handled specially by elf.em.  */
    *(.gnu.warning)
  }
  .fini           :
  {
    KEEP (*(SORT_NONE(.fini)))
  }
  PROVIDE (__etext = .);
  PROVIDE (_etext = .);
  PROVIDE (etext = .);
  . = ALIGN(CONSTANT (MAXPAGESIZE));
  /* Adjust the address for the rodata segment.  We want to adjust up to
     the same address within the page on the next page up.  */
  . = SEGMENT_START("rodata-segment", ALIGN(CONSTANT (MAXPAGESIZE)) + (. & (CONSTANT (MAXPAGESIZE) - 1)));
  .rodata         : { *(.rodata .rodata.* .gnu.linkonce.r.*) }
  .rodata1        : { *(.rodata1) }
  .eh_frame_hdr   : { *(.eh_frame_hdr) *(.eh_frame_entry .eh_frame_entry.*) }
  .eh_frame       : ONLY_IF_RO { KEEP (*(.eh_frame)) *(.eh_frame.*) }
  .gcc_except_table   : ONLY_IF_RO { *(.gcc_except_table .gcc_except_table.*) }
  .gnu_extab   : ONLY_IF_RO { *(.gnu_extab*) }
  /* These sections are generated by the Sun/Oracle C++ compiler.  */
  .exception_ranges   : ONLY_IF_RO { *(.exception_ranges*) }
  /* Adjust the address for the data segment.  We want to adjust up to
     the same address within the page on the next page up.  */
  . = DATA_SEGMENT_ALIGN (CONSTANT (MAXPAGESIZE), CONSTANT (COMMONPAGESIZE));
  /* Exception handling  */
  .eh_frame       : ONLY_IF_RW { KEEP (*(.eh_frame)) *(.eh_frame.*) }
  .gnu_extab      : ONLY_IF_RW { *(.gnu_extab) }
  .gcc_except_table   : ONLY_IF_RW { *(.gcc_except_table .gcc_except_table.*) }
  .exception_ranges   : ONLY_IF_RW { *(.exception_ranges*) }
  /* Thread Local Storage sections  */
  .tdata	  :
   {
     PROVIDE_HIDDEN (__tdata_start = .);
     *(.tdata .tdata.* .gnu.linkonce.td.*)
   }
  .tbss		  : { *(.tbss .tbss.* .gnu.linkonce.tb.*) *(.tcommon) }
  .preinit_array    :
  {
    PROVIDE_HIDDEN (__preinit_array_start = .);
    KEEP (*(.preinit_array))
    PROVIDE_HIDDEN (__preinit_array_end = .);
  }
  .init_array    :
  {
    PROVIDE_HIDDEN (__init_array_start = .);
    KEEP (*(SORT_BY_INIT_PRIORITY(.init_array.*) SORT_BY_INIT_PRIORITY(.ctors.*)))
    KEEP (*(.init_array EXCLUDE_FILE (*crtbegin.o *crtbegin?.o *crtend.o *crtend?.o ) .ctors))
    PROVIDE_HIDDEN (__init_array_end = .);
  }
  .fini_array    :
  {
    PROVIDE_HIDDEN (__fini_array_start = .);
    KEEP (*(SORT_BY_INIT_PRIORITY(.fini_array.*) SORT_BY_INIT_PRIORITY(.dtors.*)))
    KEEP (*(.fini_array EXCLUDE_FILE (*crtbegin.o *crtbegin?.o *crtend.o *crtend?.o ) .dtors))
    PROVIDE_HIDDEN (__fini_array_end = .);
  }
  .ctors          :
  {
    /* gcc uses crtbegin.o to find the start of
       the constructors, so we make sure it is
       first.  Because this is a wildcard, it
       doesn't matter if the user does not
       actually link against crtbegin.o; the
       linker won't look for a file to match a
       wildcard.  The wildcard also means that it
       doesn't matter which directory crtbegin.o
       is in.  */
    KEEP (*crtbegin.o(.ctors))
    KEEP (*crtbegin?.o(.ctors))
    /* We don't want to include the .ctor section from
       the crtend.o file until after the sorted ctors.
       The .ctor section from the crtend file contains the
       end of ctors marker and it must be last */
    KEEP (*(EXCLUDE_FILE (*crtend.o *crtend?.o ) .ctors))
    KEEP (*(SORT(.ctors.*)))
    KEEP (*(.ctors))
  }
  .dtors          :
  {
    KEEP (*crtbegin.o(.dtors))
    KEEP (*crtbegin?.o(.dtors))
    KEEP (*(EXCLUDE_FILE (*crtend.o *crtend?.o ) .dtors))
    KEEP (*(SORT(.dtors.*)))
    KEEP (*(.dtors))
  }
  .jcr            : { KEEP (*(.jcr)) }
  .data.rel.ro : { *(.data.rel.ro.local* .gnu.linkonce.d.rel.ro.local.*) *(.data.rel.ro .data.rel.ro.* .gnu.linkonce.d.rel.ro.*) }
  .dynamic        : { *(.dynamic) }
  .got            : { *(.got) *(.igot) }
  . = DATA_SEGMENT_RELRO_END (SIZEOF (.got.plt) >= 24 ? 24 : 0, .);
  .got.plt        : { *(.got.plt) *(.igot.plt) }
  .data           :
  {
    *(.data .data.* .gnu.linkonce.d.*)
    SORT(CONSTRUCTORS)
  }
  .data1          : { *(.data1) }
  _edata = .; PROVIDE (edata = .);
  . = .;
  __bss_start = .;
  .bss            :
  {
   *(.dynbss)
   *(.bss .bss.* .gnu.linkonce.b.*)
   *(COMMON)
   /* Align here to ensure that the .bss section occupies space up to
      _end.  Align after .bss to ensure correct alignment even if the
      .bss section disappears because there are no input sections.
      FIXME: Why do we need it? When there is no .bss section, we do not
      pad the .data section.  */
   . = ALIGN(. != 0 ? 64 / 8 : 1);
  }
  .lbss   :
  {
    *(.dynlbss)
    *(.lbss .lbss.* .gnu.linkonce.lb.*)
    *(LARGE_COMMON)
  }
  . = ALIGN(64 / 8);
  . = SEGMENT_START("ldata-segment", .);
  .lrodata   ALIGN(CONSTANT (MAXPAGESIZE)) + (. & (CONSTANT (MAXPAGESIZE) - 1)) :
  {
    *(.lrodata .lrodata.* .gnu.linkonce.lr.*)
  }
  .ldata   ALIGN(CONSTANT (MAXPAGESIZE)) + (. & (CONSTANT (MAXPAGESIZE) - 1)) :
  {
    *(.ldata .ldata.* .gnu.linkonce.l.*)
    . = ALIGN(. != 0 ? 64 / 8 : 1);
  }
  . = ALIGN(64 / 8);
  _end = .; PROVIDE (end = .);
  . = DATA_SEGMENT_END (.);
  /* Stabs debugging sections.  */
  .stab          0 : { *(.stab) }
  .stabstr       0 : { *(.stabstr) }
  .stab.excl     0 : { *(.stab.excl) }
  .stab.exclstr  0 : { *(.stab.exclstr) }
  .stab.index    0 : { *(.stab.index) }
  .stab.indexstr 0 : { *(.stab.indexstr) }
  .comment       0 : { *(.comment) }
  .gnu.build.attributes : { *(.gnu.build.attributes .gnu.build.attributes.*) }
  /* DWARF debug sections.
     Symbols in the DWARF debugging sections are relative to the beginning
     of the section so we begin them at 0.  */
  /* DWARF 1 */
  .debug          0 : { *(.debug) }
  .line           0 : { *(.line) }
  /* GNU DWARF 1 extensions */
  .debug_srcinfo  0 : { *(.debug_srcinfo) }
  .debug_sfnames  0 : { *(.debug_sfnames) }
  /* DWARF 1.1 and DWARF 2 */
  .debug_aranges  0 : { *(.debug_aranges) }
  .debug_pubnames 0 : { *(.debug_pubnames) }
  /* DWARF 2 */
  .debug_info     0 : { *(.debug_info .gnu.linkonce.wi.*) }
  .debug_abbrev   0 : { *(.debug_abbrev) }
  .debug_line     0 : { *(.debug_line .debug_line.* .debug_line_end) }
  .debug_frame    0 : { *(.debug_frame) }
  .debug_str      0 : { *(.debug_str) }
  .debug_loc      0 : { *(.debug_loc) }
  .debug_macinfo  0 : { *(.debug_macinfo) }
  /* SGI/MIPS DWARF 2 extensions */
  .debug_weaknames 0 : { *(.debug_weaknames) }
  .debug_funcnames 0 : { *(.debug_funcnames) }
  .debug_typenames 0 : { *(.debug_typenames) }
  .debug_varnames  0 : { *(.debug_varnames) }
  /* DWARF 3 */
  .debug_pubtypes 0 : { *(.debug_pubtypes) }
  .debug_ranges   0 : { *(.debug_ranges) }
  /* DWARF Extension.  */
  .debug_macro    0 : { *(.debug_macro) }
  .debug_addr     0 : { *(.debug_addr) }
  .gnu.attributes 0 : { KEEP (*(.gnu.attributes)) }
  /DISCARD/ : { *(.note.GNU-stack) *(.gnu_debuglink) *(.gnu.lto_*) }

"""

In [68]:
def create_nasm(cnt, cnt2, offset, loop_num, dummy_num, r0, r1):
    nasm_new_sections = ''
    for i in range(cnt):
        nasm_new_sections += f"""
SECTION .dummy_branch_{i} exec
    dummy_label_{i}:
    je dummy_label_{i+1}

"""
    nasm_new_sections += f"""
SECTION .dummy_branch_{cnt} exec
    dummy_label_{cnt}:
    lfence
    dec rdx
    cmp rdx, 0
    jmp dummy_label_{cnt+1}

SECTION .dummy_branch_{cnt+1} exec
    dummy_label_{cnt+1}:
    je dummy_label_{cnt+2}
    lfence
    mov rax, {offset}
    mov rcx, 0
    cmp rcx, 0
    jmp rax
"""

    for i in range(cnt+2,cnt+2+cnt2):
        nasm_new_sections += f"""
SECTION .dummy_branch_{i} exec
    dummy_label_{i}:
    je dummy_label_{i+1}

"""

    nasm_new_sections += f"""
SECTION .dummy_branch_{cnt+2+cnt2} exec
    dummy_label_{cnt+2+cnt2}:
    lfence
    
    cmp byte[rdi],0
    jmp dummy_label_{cnt+3+cnt2}

SECTION .dummy_branch_{cnt+3+cnt2} exec
    dummy_label_{cnt+3+cnt2}:
    je dummy_label_{cnt+4+cnt2}
    jmp dummy_label_{cnt+4+cnt2}

SECTION .dummy_branch_{cnt+4+cnt2} exec
    dummy_label_{cnt+4+cnt2}:
    jmp rbx
"""
    with open("bp.nasm", "w") as file:
      file.write(get_code(hex(offset), r0, r1, loop_num, dummy_num) + nasm_new_sections)

In [69]:
def create_ld(spec, a, b, cnt, cnt2, stride=0x10000000, offset=0x100000000, flip_mask=0x0, crit_bits=0x0):
  ld_new_sections = ''
  cnt = cnt + cnt2
  for i in range(cnt):
    ld_new_sections += f"""
    . = {hex(offset + (i * stride) & 0xfffff0000000 if (i == spec) else offset + i * stride)};
    .dummy_branch_{i} : {{ *(.dummy_branch_{i}) }}
  """

  # ld_new_sections += f"""
  #   . = {hex(0x100000000 + cnt * stride + ((1 << a) if a >= 0 else 0))};
  #   .dummy_branch_{cnt} : {{ *(.dummy_branch_{cnt}) }}
  # """

  # ld_new_sections += f"""
  #   . = {hex(0x100000000 + (cnt + 1) * stride + ((b << b) if a >= 0 else 0))};
  #   .dummy_branch_{cnt + 1} : {{ *(.dummy_branch_{cnt + 1}) }}
  # """
  
  # b_addr = 0x100000000 + cnt * stride + random.randint(0, ((1 << a) if a >= 0 else 0)) & 0xffffffffdf # 0x20
  # b_addr = 0x100000000 + cnt * stride + 0x315a2fb ^ flip_mask
  b_addr = 0x100000000 + cnt * stride
  b_addr = b_addr | crit_bits
  b_addr = b_addr ^ flip_mask

  
  ld_new_sections += f"""
    . = {hex(b_addr)};
    .dummy_branch_{cnt} : {{ *(.dummy_branch_{cnt}) }}
  """
  
  t_addr = 0x100000000 + (cnt + 1) * stride + random.randint(0, ((1 << b) if b >= 0 else 0)) # 0x20

  ld_new_sections += f"""
    . = {hex(t_addr)};
    .dummy_branch_{cnt + 1} : {{ *(.dummy_branch_{cnt + 1}) }}
  """

  ld_new_sections += '}'

  with open("script.ld", "w") as file:
      file.write(ld_script + ld_new_sections)
      
  return b_addr, t_addr

In [70]:
def sf1(s):
    if s == 0:
        return 0
    return 1 << (s - 1)

In [71]:
repeat0 = 20
repeat1 = 2000

start = 10
end = 10

loop_nums = range(200, 201)

i = 26
j = 26

cnt2s = range(4,10)
dummy_nums = range(4,10)

cnts = range(10, 11)
ls = range(0,1)
ks = range(56,64)
iter_product = product(cnts, cnt2s, loop_nums, dummy_nums, ls, ks)

lst = []

for cnt, cnt2, loop_num, dummy_num, l, k in iter_product:
    create_nasm(cnt, cnt2, 0x100000000 + sf1(l), loop_num, dummy_num, repeat0, repeat1)
    b_addr, t_addr = create_ld(100, i, j, cnt + 3, cnt2, (1 << 30), 0x100000000 + sf1(l), 0, k)
    os.system(f"./run.sh {start} {end}")

    data = pd.read_csv("results.csv", comment='#', delim_whitespace=True)
    data["Clock"] = pd.to_numeric(data["Clock"],errors='coerce')
    data["BrRetired"] = pd.to_numeric(data["BrRetired"],errors='coerce')
    data["BrMispred"] = pd.to_numeric(data["BrMispred"],errors='coerce')
    data["Clock"] = (data["Clock"]) / repeat1
    data["BrRetired"] = data["BrRetired"] / repeat1
    data["BrMispred"] = data["BrMispred"] / repeat1
    lst.append((cnt, cnt2, loop_num, dummy_num, l, k,b_addr,t_addr,data["BrMispred"].mean(),data["BrMispred"].min(),data["BrMispred"].max()))

df = pd.DataFrame(lst, columns=['cnt', 'cnt2', 'loop_num', 'dummy_num', 'l', 'k', 'b_addr', 't_addr', 'BrMispred_mean', 'BrMispred_min', 'BrMispred_max'])

In [72]:
display_df = df.copy()
display_df['b_addr'] = display_df['b_addr'].map('0x{:x}'.format)
display_df['t_addr'] = display_df['t_addr'].map('0x{:x}'.format)
display(display_df)

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
0,10,4,200,4,0,56,0x540000038,0x58289c77e,0.000150,0.0,0.0015
1,10,4,200,4,0,57,0x540000039,0x5839fec2b,0.000150,0.0,0.0015
2,10,4,200,4,0,58,0x54000003a,0x581b38e5d,0.000100,0.0,0.0015
3,10,4,200,4,0,59,0x54000003b,0x580f460b1,0.000075,0.0,0.0015
4,10,4,200,4,0,60,0x54000003c,0x5823f7153,0.000075,0.0,0.0015
...,...,...,...,...,...,...,...,...,...,...,...
283,10,9,200,9,0,59,0x68000003b,0x6c313d3f8,0.000200,0.0,0.0015
284,10,9,200,9,0,60,0x68000003c,0x6c36f4582,0.000250,0.0,0.0015
285,10,9,200,9,0,61,0x68000003d,0x6c387401d,0.000225,0.0,0.0020
286,10,9,200,9,0,62,0x68000003e,0x6c3980ca2,0.000175,0.0,0.0015
287,10,9,200,9,0,63,0x68000003f,0x6c3e534c8,0.000125,0.0,0.0015

In [74]:
for cnt2 in cnt2s:
    for dummy_num in dummy_nums:
        display(display_df[(display_df['cnt2'] == cnt2) & (display_df['dummy_num'] == dummy_num)])

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
0,10,4,200,4,0,56,0x540000038,0x58289c77e,0.000150,0.0,0.0015
1,10,4,200,4,0,57,0x540000039,0x5839fec2b,0.000150,0.0,0.0015
2,10,4,200,4,0,58,0x54000003a,0x581b38e5d,0.000100,0.0,0.0015
3,10,4,200,4,0,59,0x54000003b,0x580f460b1,0.000075,0.0,0.0015
4,10,4,200,4,0,60,0x54000003c,0x5823f7153,0.000075,0.0,0.0015
5,10,4,200,4,0,61,0x54000003d,0x5812d665b,0.000125,0.0,0.0015
6,10,4,200,4,0,62,0x54000003e,0x5836f1a7e,0.000175,0.0,0.0015
7,10,4,200,4,0,63,0x54000003f,0x5823e99a2,0.000075,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
8,10,4,200,5,0,56,0x540000038,0x581a84254,0.000125,0.0,0.0015
9,10,4,200,5,0,57,0x540000039,0x580876b93,0.000100,0.0,0.0015
10,10,4,200,5,0,58,0x54000003a,0x581a685c9,0.000250,0.0,0.0020
11,10,4,200,5,0,59,0x54000003b,0x5829693f5,0.000125,0.0,0.0015
12,10,4,200,5,0,60,0x54000003c,0x583bf01fa,0.000125,0.0,0.0015
13,10,4,200,5,0,61,0x54000003d,0x5809b0af9,0.000100,0.0,0.0015
14,10,4,200,5,0,62,0x54000003e,0x5832f5f40,0.000200,0.0,0.0015
15,10,4,200,5,0,63,0x54000003f,0x583f965c4,0.000125,0.0,0.0020

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
16,10,4,200,6,0,56,0x540000038,0x582dbaece,0.000150,0.0,0.0015
17,10,4,200,6,0,57,0x540000039,0x583237f67,0.000175,0.0,0.0025
18,10,4,200,6,0,58,0x54000003a,0x583c13ff7,0.000150,0.0,0.0015
19,10,4,200,6,0,59,0x54000003b,0x582c4b883,0.000100,0.0,0.0015
20,10,4,200,6,0,60,0x54000003c,0x580059b08,0.000200,0.0,0.0015
21,10,4,200,6,0,61,0x54000003d,0x582ace743,0.000125,0.0,0.0025
22,10,4,200,6,0,62,0x54000003e,0x583656926,0.000100,0.0,0.0015
23,10,4,200,6,0,63,0x54000003f,0x582338522,0.000100,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
24,10,4,200,7,0,56,0x540000038,0x58071fd19,0.494575,0.473,0.5215
25,10,4,200,7,0,57,0x540000039,0x580b58926,0.497675,0.481,0.5300
26,10,4,200,7,0,58,0x54000003a,0x583779f1b,0.498075,0.479,0.5170
27,10,4,200,7,0,59,0x54000003b,0x581e595f1,0.000075,0.000,0.0015
28,10,4,200,7,0,60,0x54000003c,0x583668619,0.000250,0.000,0.0015
29,10,4,200,7,0,61,0x54000003d,0x581c6052b,0.000075,0.000,0.0015
30,10,4,200,7,0,62,0x54000003e,0x581b33590,0.000075,0.000,0.0015
31,10,4,200,7,0,63,0x54000003f,0x5816d0453,0.000075,0.000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
32,10,4,200,8,0,56,0x540000038,0x5825f5af9,0.503225,0.4805,0.5175
33,10,4,200,8,0,57,0x540000039,0x583e93e0c,0.498525,0.4875,0.5200
34,10,4,200,8,0,58,0x54000003a,0x58099d6f8,0.503500,0.4880,0.5185
35,10,4,200,8,0,59,0x54000003b,0x580671219,0.000225,0.0000,0.0020
36,10,4,200,8,0,60,0x54000003c,0x5820c381b,0.000125,0.0000,0.0015
37,10,4,200,8,0,61,0x54000003d,0x581670e84,0.000100,0.0000,0.0015
38,10,4,200,8,0,62,0x54000003e,0x5835a37ba,0.000075,0.0000,0.0015
39,10,4,200,8,0,63,0x54000003f,0x5808d3eaa,0.000125,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
40,10,4,200,9,0,56,0x540000038,0x582a557fa,0.500625,0.4600,0.5265
41,10,4,200,9,0,57,0x540000039,0x5826a5486,0.503025,0.4865,0.5240
42,10,4,200,9,0,58,0x54000003a,0x583e67f17,0.499900,0.4840,0.5145
43,10,4,200,9,0,59,0x54000003b,0x581018732,0.000150,0.0000,0.0015
44,10,4,200,9,0,60,0x54000003c,0x583aa2023,0.000125,0.0000,0.0015
45,10,4,200,9,0,61,0x54000003d,0x5803d6736,0.000300,0.0000,0.0015
46,10,4,200,9,0,62,0x54000003e,0x582f20cf3,0.000175,0.0000,0.0015
47,10,4,200,9,0,63,0x54000003f,0x5839cffd2,0.000125,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
48,10,5,200,4,0,56,0x580000038,0x5c2ea756f,0.000200,0.0,0.0015
49,10,5,200,4,0,57,0x580000039,0x5c17bc291,0.000125,0.0,0.0015
50,10,5,200,4,0,58,0x58000003a,0x5c1f37c98,0.000100,0.0,0.0015
51,10,5,200,4,0,59,0x58000003b,0x5c2a86453,0.000075,0.0,0.0015
52,10,5,200,4,0,60,0x58000003c,0x5c2c290f9,0.000100,0.0,0.0015
53,10,5,200,4,0,61,0x58000003d,0x5c10fea09,0.000150,0.0,0.0015
54,10,5,200,4,0,62,0x58000003e,0x5c1d53fd0,0.000075,0.0,0.0015
55,10,5,200,4,0,63,0x58000003f,0x5c3476dd7,0.000125,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
56,10,5,200,5,0,56,0x580000038,0x5c0616486,0.000100,0.0,0.0015
57,10,5,200,5,0,57,0x580000039,0x5c2a266fe,0.000200,0.0,0.0015
58,10,5,200,5,0,58,0x58000003a,0x5c0fc8bdb,0.000100,0.0,0.0015
59,10,5,200,5,0,59,0x58000003b,0x5c0b01573,0.000125,0.0,0.0015
60,10,5,200,5,0,60,0x58000003c,0x5c00484d7,0.000075,0.0,0.0015
61,10,5,200,5,0,61,0x58000003d,0x5c39d55df,0.000125,0.0,0.0015
62,10,5,200,5,0,62,0x58000003e,0x5c26307a3,0.000200,0.0,0.0020
63,10,5,200,5,0,63,0x58000003f,0x5c369c4c7,0.000150,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
64,10,5,200,6,0,56,0x580000038,0x5c32b09f0,0.000150,0.0,0.0015
65,10,5,200,6,0,57,0x580000039,0x5c0fb614a,0.000100,0.0,0.0015
66,10,5,200,6,0,58,0x58000003a,0x5c13a2486,0.000125,0.0,0.0015
67,10,5,200,6,0,59,0x58000003b,0x5c28e5e63,0.000075,0.0,0.0015
68,10,5,200,6,0,60,0x58000003c,0x5c17925c7,0.000225,0.0,0.0015
69,10,5,200,6,0,61,0x58000003d,0x5c022f6a9,0.000175,0.0,0.0015
70,10,5,200,6,0,62,0x58000003e,0x5c24cfcc8,0.000100,0.0,0.0015
71,10,5,200,6,0,63,0x58000003f,0x5c167d525,0.000100,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
72,10,5,200,7,0,56,0x580000038,0x5c3c171ed,0.499275,0.4710,0.5245
73,10,5,200,7,0,57,0x580000039,0x5c3bc56fb,0.500575,0.4820,0.5240
74,10,5,200,7,0,58,0x58000003a,0x5c35fe6b2,0.497800,0.4825,0.5125
75,10,5,200,7,0,59,0x58000003b,0x5c1ca8c54,0.000225,0.0000,0.0015
76,10,5,200,7,0,60,0x58000003c,0x5c013f04e,0.000125,0.0000,0.0015
77,10,5,200,7,0,61,0x58000003d,0x5c060448f,0.000125,0.0000,0.0015
78,10,5,200,7,0,62,0x58000003e,0x5c00ba68b,0.000150,0.0000,0.0015
79,10,5,200,7,0,63,0x58000003f,0x5c342c93e,0.000175,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
80,10,5,200,8,0,56,0x580000038,0x5c14125be,0.499600,0.4765,0.5165
81,10,5,200,8,0,57,0x580000039,0x5c0cb4c5e,0.497850,0.4745,0.5200
82,10,5,200,8,0,58,0x58000003a,0x5c1113cd4,0.498650,0.4760,0.5280
83,10,5,200,8,0,59,0x58000003b,0x5c21f5eec,0.000150,0.0000,0.0015
84,10,5,200,8,0,60,0x58000003c,0x5c26449f1,0.000100,0.0000,0.0020
85,10,5,200,8,0,61,0x58000003d,0x5c33e273f,0.000075,0.0000,0.0015
86,10,5,200,8,0,62,0x58000003e,0x5c2385b08,0.000075,0.0000,0.0015
87,10,5,200,8,0,63,0x58000003f,0x5c346b489,0.000100,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
88,10,5,200,9,0,56,0x580000038,0x5c24bb87e,0.501275,0.4825,0.5230
89,10,5,200,9,0,57,0x580000039,0x5c1b26cd2,0.498700,0.4765,0.5175
90,10,5,200,9,0,58,0x58000003a,0x5c1ea0b9c,0.499550,0.4685,0.5235
91,10,5,200,9,0,59,0x58000003b,0x5c1e1e9e6,0.000175,0.0000,0.0015
92,10,5,200,9,0,60,0x58000003c,0x5c1c75f32,0.000100,0.0000,0.0015
93,10,5,200,9,0,61,0x58000003d,0x5c191132c,0.000225,0.0000,0.0015
94,10,5,200,9,0,62,0x58000003e,0x5c30d44b1,0.000100,0.0000,0.0015
95,10,5,200,9,0,63,0x58000003f,0x5c336a029,0.000075,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
96,10,6,200,4,0,56,0x5c0000038,0x6028592c1,0.000100,0.0,0.0015
97,10,6,200,4,0,57,0x5c0000039,0x602871fc5,0.000225,0.0,0.0015
98,10,6,200,4,0,58,0x5c000003a,0x600ca848f,0.000150,0.0,0.0015
99,10,6,200,4,0,59,0x5c000003b,0x6004aa679,0.000150,0.0,0.0025
100,10,6,200,4,0,60,0x5c000003c,0x602ffc1a2,0.000075,0.0,0.0015
101,10,6,200,4,0,61,0x5c000003d,0x601db833a,0.000075,0.0,0.0015
102,10,6,200,4,0,62,0x5c000003e,0x603c2a7be,0.000100,0.0,0.0015
103,10,6,200,4,0,63,0x5c000003f,0x603d600dd,0.000150,0.0,0.0025

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
104,10,6,200,5,0,56,0x5c0000038,0x600c725b1,0.000150,0.0,0.0015
105,10,6,200,5,0,57,0x5c0000039,0x601814743,0.000150,0.0,0.0015
106,10,6,200,5,0,58,0x5c000003a,0x60231eb80,0.000225,0.0,0.0015
107,10,6,200,5,0,59,0x5c000003b,0x600a7c9e3,0.000200,0.0,0.0015
108,10,6,200,5,0,60,0x5c000003c,0x603b976bc,0.000075,0.0,0.0015
109,10,6,200,5,0,61,0x5c000003d,0x601481810,0.000200,0.0,0.0015
110,10,6,200,5,0,62,0x5c000003e,0x601a68ee7,0.000100,0.0,0.0015
111,10,6,200,5,0,63,0x5c000003f,0x6034d0922,0.000150,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
112,10,6,200,6,0,56,0x5c0000038,0x600e8d126,0.000075,0.0,0.0015
113,10,6,200,6,0,57,0x5c0000039,0x60070e9dc,0.000150,0.0,0.0015
114,10,6,200,6,0,58,0x5c000003a,0x60280fde8,0.000225,0.0,0.0015
115,10,6,200,6,0,59,0x5c000003b,0x602d55d4a,0.000100,0.0,0.0020
116,10,6,200,6,0,60,0x5c000003c,0x600b88712,0.000175,0.0,0.0015
117,10,6,200,6,0,61,0x5c000003d,0x6031458b7,0.000225,0.0,0.0015
118,10,6,200,6,0,62,0x5c000003e,0x603ee9e7d,0.000100,0.0,0.0015
119,10,6,200,6,0,63,0x5c000003f,0x6028ec4c5,0.000250,0.0,0.0020

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
120,10,6,200,7,0,56,0x5c0000038,0x600c1ba78,0.500650,0.4845,0.5135
121,10,6,200,7,0,57,0x5c0000039,0x600c3275d,0.500950,0.4830,0.5250
122,10,6,200,7,0,58,0x5c000003a,0x600c1b3b7,0.493500,0.4760,0.5140
123,10,6,200,7,0,59,0x5c000003b,0x6003b0d2b,0.000100,0.0000,0.0015
124,10,6,200,7,0,60,0x5c000003c,0x600b07561,0.000175,0.0000,0.0025
125,10,6,200,7,0,61,0x5c000003d,0x601a753c4,0.000075,0.0000,0.0015
126,10,6,200,7,0,62,0x5c000003e,0x602b9bf42,0.000100,0.0000,0.0015
127,10,6,200,7,0,63,0x5c000003f,0x602b81bd6,0.000200,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
128,10,6,200,8,0,56,0x5c0000038,0x602656408,0.495200,0.4715,0.5165
129,10,6,200,8,0,57,0x5c0000039,0x602dd1ccb,0.496350,0.4725,0.5190
130,10,6,200,8,0,58,0x5c000003a,0x603b52fd3,0.499925,0.4750,0.5170
131,10,6,200,8,0,59,0x5c000003b,0x60131de86,0.000075,0.0000,0.0015
132,10,6,200,8,0,60,0x5c000003c,0x602bc8d79,0.000150,0.0000,0.0015
133,10,6,200,8,0,61,0x5c000003d,0x601c73171,0.000225,0.0000,0.0020
134,10,6,200,8,0,62,0x5c000003e,0x603ffcad6,0.000150,0.0000,0.0015
135,10,6,200,8,0,63,0x5c000003f,0x6013bc55e,0.000100,0.0000,0.0020

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
136,10,6,200,9,0,56,0x5c0000038,0x603fe9231,0.501100,0.4835,0.5245
137,10,6,200,9,0,57,0x5c0000039,0x60041a4db,0.497550,0.4790,0.5155
138,10,6,200,9,0,58,0x5c000003a,0x60308ffe2,0.499625,0.4785,0.5235
139,10,6,200,9,0,59,0x5c000003b,0x601a608e9,0.000250,0.0000,0.0015
140,10,6,200,9,0,60,0x5c000003c,0x6015d406d,0.000200,0.0000,0.0015
141,10,6,200,9,0,61,0x5c000003d,0x6011b6079,0.000100,0.0000,0.0015
142,10,6,200,9,0,62,0x5c000003e,0x6030beada,0.000200,0.0000,0.0015
143,10,6,200,9,0,63,0x5c000003f,0x6003b2d37,0.000100,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
144,10,7,200,4,0,56,0x600000038,0x640f76260,0.000325,0.0,0.0015
145,10,7,200,4,0,57,0x600000039,0x641621f7e,0.000175,0.0,0.0025
146,10,7,200,4,0,58,0x60000003a,0x640196d05,0.000175,0.0,0.0015
147,10,7,200,4,0,59,0x60000003b,0x640a924a5,0.000125,0.0,0.0015
148,10,7,200,4,0,60,0x60000003c,0x640677b0b,0.000150,0.0,0.0015
149,10,7,200,4,0,61,0x60000003d,0x641476ecf,0.000125,0.0,0.0015
150,10,7,200,4,0,62,0x60000003e,0x641bfcbfe,0.000100,0.0,0.0015
151,10,7,200,4,0,63,0x60000003f,0x64187873c,0.000100,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
152,10,7,200,5,0,56,0x600000038,0x641926ee5,0.000100,0.0,0.0015
153,10,7,200,5,0,57,0x600000039,0x6411f80bb,0.000100,0.0,0.0015
154,10,7,200,5,0,58,0x60000003a,0x642ea2939,0.000100,0.0,0.0015
155,10,7,200,5,0,59,0x60000003b,0x64151aad4,0.000125,0.0,0.0015
156,10,7,200,5,0,60,0x60000003c,0x640be290d,0.000200,0.0,0.0015
157,10,7,200,5,0,61,0x60000003d,0x64030c60e,0.000075,0.0,0.0015
158,10,7,200,5,0,62,0x60000003e,0x64393765f,0.000200,0.0,0.0015
159,10,7,200,5,0,63,0x60000003f,0x6419c905f,0.000125,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
160,10,7,200,6,0,56,0x600000038,0x642206b69,0.000175,0.0,0.0015
161,10,7,200,6,0,57,0x600000039,0x64353bbe2,0.000075,0.0,0.0015
162,10,7,200,6,0,58,0x60000003a,0x640574493,0.000100,0.0,0.0015
163,10,7,200,6,0,59,0x60000003b,0x6414efce3,0.000150,0.0,0.0015
164,10,7,200,6,0,60,0x60000003c,0x6438d7b8e,0.000100,0.0,0.0015
165,10,7,200,6,0,61,0x60000003d,0x641d33b3f,0.000175,0.0,0.0015
166,10,7,200,6,0,62,0x60000003e,0x6418f0922,0.000175,0.0,0.0015
167,10,7,200,6,0,63,0x60000003f,0x642f2f9fd,0.000075,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
168,10,7,200,7,0,56,0x600000038,0x64054b4cb,0.501250,0.4825,0.5145
169,10,7,200,7,0,57,0x600000039,0x643355aee,0.497875,0.4775,0.5175
170,10,7,200,7,0,58,0x60000003a,0x6415f496f,0.501675,0.4815,0.5195
171,10,7,200,7,0,59,0x60000003b,0x643281ad3,0.000150,0.0000,0.0015
172,10,7,200,7,0,60,0x60000003c,0x641d6a9b5,0.000225,0.0000,0.0015
173,10,7,200,7,0,61,0x60000003d,0x642ad1124,0.000125,0.0000,0.0015
174,10,7,200,7,0,62,0x60000003e,0x641649d69,0.000150,0.0000,0.0015
175,10,7,200,7,0,63,0x60000003f,0x6429e1eb5,0.000125,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
176,10,7,200,8,0,56,0x600000038,0x6411f12a0,0.496000,0.4625,0.5220
177,10,7,200,8,0,57,0x600000039,0x640da9725,0.502900,0.4865,0.5210
178,10,7,200,8,0,58,0x60000003a,0x640297a30,0.505600,0.4860,0.5245
179,10,7,200,8,0,59,0x60000003b,0x64098f415,0.000100,0.0000,0.0015
180,10,7,200,8,0,60,0x60000003c,0x6403e5525,0.000150,0.0000,0.0015
181,10,7,200,8,0,61,0x60000003d,0x64183548c,0.000075,0.0000,0.0015
182,10,7,200,8,0,62,0x60000003e,0x6404381f6,0.000075,0.0000,0.0015
183,10,7,200,8,0,63,0x60000003f,0x6422feb8e,0.000100,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
184,10,7,200,9,0,56,0x600000038,0x640494521,0.500425,0.4635,0.5295
185,10,7,200,9,0,57,0x600000039,0x640f63561,0.498625,0.4790,0.5320
186,10,7,200,9,0,58,0x60000003a,0x64377dcdb,0.499725,0.4825,0.5145
187,10,7,200,9,0,59,0x60000003b,0x64050dc0c,0.000175,0.0000,0.0015
188,10,7,200,9,0,60,0x60000003c,0x640ebeab0,0.000125,0.0000,0.0015
189,10,7,200,9,0,61,0x60000003d,0x641d6e2b7,0.000100,0.0000,0.0015
190,10,7,200,9,0,62,0x60000003e,0x64367a467,0.000100,0.0000,0.0015
191,10,7,200,9,0,63,0x60000003f,0x6402e9a0a,0.000100,0.0000,0.0020

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
192,10,8,200,4,0,56,0x640000038,0x683c92d0e,0.000125,0.0,0.0015
193,10,8,200,4,0,57,0x640000039,0x682f997e9,0.000150,0.0,0.0015
194,10,8,200,4,0,58,0x64000003a,0x6839678b8,0.000150,0.0,0.0015
195,10,8,200,4,0,59,0x64000003b,0x681b0ee96,0.000075,0.0,0.0015
196,10,8,200,4,0,60,0x64000003c,0x6830b5b85,0.000075,0.0,0.0015
197,10,8,200,4,0,61,0x64000003d,0x682d22322,0.000125,0.0,0.0015
198,10,8,200,4,0,62,0x64000003e,0x681edce05,0.000100,0.0,0.0015
199,10,8,200,4,0,63,0x64000003f,0x682576ea1,0.000125,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
200,10,8,200,5,0,56,0x640000038,0x68397894e,0.000150,0.0,0.0015
201,10,8,200,5,0,57,0x640000039,0x68319363d,0.000075,0.0,0.0015
202,10,8,200,5,0,58,0x64000003a,0x681825f24,0.000200,0.0,0.0015
203,10,8,200,5,0,59,0x64000003b,0x681b312f7,0.000100,0.0,0.0015
204,10,8,200,5,0,60,0x64000003c,0x680cbb97c,0.000125,0.0,0.0015
205,10,8,200,5,0,61,0x64000003d,0x683ac5f88,0.000150,0.0,0.0015
206,10,8,200,5,0,62,0x64000003e,0x682fdd1ce,0.000125,0.0,0.0015
207,10,8,200,5,0,63,0x64000003f,0x681f43193,0.000200,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
208,10,8,200,6,0,56,0x640000038,0x681ee7082,0.000125,0.0,0.0015
209,10,8,200,6,0,57,0x640000039,0x683c25651,0.000100,0.0,0.0015
210,10,8,200,6,0,58,0x64000003a,0x68394836e,0.000175,0.0,0.0015
211,10,8,200,6,0,59,0x64000003b,0x6802a8e21,0.000100,0.0,0.0015
212,10,8,200,6,0,60,0x64000003c,0x68368492b,0.000150,0.0,0.0020
213,10,8,200,6,0,61,0x64000003d,0x682c8dc3f,0.000100,0.0,0.0015
214,10,8,200,6,0,62,0x64000003e,0x683e07d5b,0.000150,0.0,0.0015
215,10,8,200,6,0,63,0x64000003f,0x683ae5b62,0.000175,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
216,10,8,200,7,0,56,0x640000038,0x683a8ab6c,0.501175,0.4745,0.5215
217,10,8,200,7,0,57,0x640000039,0x682a68b4f,0.500100,0.4755,0.5240
218,10,8,200,7,0,58,0x64000003a,0x6802bb003,0.504325,0.4860,0.5260
219,10,8,200,7,0,59,0x64000003b,0x682f89d92,0.000100,0.0000,0.0015
220,10,8,200,7,0,60,0x64000003c,0x68153a53d,0.000275,0.0000,0.0015
221,10,8,200,7,0,61,0x64000003d,0x68033b1af,0.000125,0.0000,0.0015
222,10,8,200,7,0,62,0x64000003e,0x6823d7397,0.000125,0.0000,0.0015
223,10,8,200,7,0,63,0x64000003f,0x6814b3bee,0.000100,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
224,10,8,200,8,0,56,0x640000038,0x681c936f2,0.498450,0.4865,0.5280
225,10,8,200,8,0,57,0x640000039,0x681295e37,0.497500,0.4780,0.5180
226,10,8,200,8,0,58,0x64000003a,0x6811950f9,0.503700,0.4795,0.5245
227,10,8,200,8,0,59,0x64000003b,0x68152e52d,0.000125,0.0000,0.0015
228,10,8,200,8,0,60,0x64000003c,0x6830d369d,0.000125,0.0000,0.0015
229,10,8,200,8,0,61,0x64000003d,0x6809034a1,0.000175,0.0000,0.0015
230,10,8,200,8,0,62,0x64000003e,0x680344064,0.000100,0.0000,0.0015
231,10,8,200,8,0,63,0x64000003f,0x6811dec14,0.000100,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
232,10,8,200,9,0,56,0x640000038,0x683d6c09a,0.500975,0.4790,0.5210
233,10,8,200,9,0,57,0x640000039,0x6808ac857,0.497750,0.4775,0.5170
234,10,8,200,9,0,58,0x64000003a,0x681178a62,0.498650,0.4810,0.5120
235,10,8,200,9,0,59,0x64000003b,0x680e54ff4,0.000150,0.0000,0.0025
236,10,8,200,9,0,60,0x64000003c,0x682133a8b,0.000100,0.0000,0.0015
237,10,8,200,9,0,61,0x64000003d,0x680d01c7a,0.000100,0.0000,0.0015
238,10,8,200,9,0,62,0x64000003e,0x6839c72c9,0.000175,0.0000,0.0015
239,10,8,200,9,0,63,0x64000003f,0x681522eb3,0.000175,0.0000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
240,10,9,200,4,0,56,0x680000038,0x6c21ab85c,0.000150,0.0,0.0015
241,10,9,200,4,0,57,0x680000039,0x6c25fb4c7,0.000225,0.0,0.0015
242,10,9,200,4,0,58,0x68000003a,0x6c20f3ff5,0.000225,0.0,0.0015
243,10,9,200,4,0,59,0x68000003b,0x6c2373faf,0.000200,0.0,0.0015
244,10,9,200,4,0,60,0x68000003c,0x6c13924e0,0.000125,0.0,0.0015
245,10,9,200,4,0,61,0x68000003d,0x6c380e3e8,0.000100,0.0,0.0015
246,10,9,200,4,0,62,0x68000003e,0x6c1b2cf58,0.000200,0.0,0.0015
247,10,9,200,4,0,63,0x68000003f,0x6c2ecaf45,0.000150,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
248,10,9,200,5,0,56,0x680000038,0x6c046976b,0.000075,0.0,0.0015
249,10,9,200,5,0,57,0x680000039,0x6c1060551,0.000100,0.0,0.0015
250,10,9,200,5,0,58,0x68000003a,0x6c32cabc5,0.000075,0.0,0.0015
251,10,9,200,5,0,59,0x68000003b,0x6c2973896,0.000075,0.0,0.0015
252,10,9,200,5,0,60,0x68000003c,0x6c2956102,0.000125,0.0,0.0015
253,10,9,200,5,0,61,0x68000003d,0x6c0e1925b,0.000150,0.0,0.0015
254,10,9,200,5,0,62,0x68000003e,0x6c023f98f,0.000100,0.0,0.0015
255,10,9,200,5,0,63,0x68000003f,0x6c23a6fae,0.000075,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
256,10,9,200,6,0,56,0x680000038,0x6c1102675,0.000075,0.0,0.0015
257,10,9,200,6,0,57,0x680000039,0x6c22e2658,0.000150,0.0,0.0015
258,10,9,200,6,0,58,0x68000003a,0x6c3ecd90d,0.000125,0.0,0.0015
259,10,9,200,6,0,59,0x68000003b,0x6c189af17,0.000100,0.0,0.0015
260,10,9,200,6,0,60,0x68000003c,0x6c3d9ec09,0.000125,0.0,0.0015
261,10,9,200,6,0,61,0x68000003d,0x6c31ae307,0.000150,0.0,0.0015
262,10,9,200,6,0,62,0x68000003e,0x6c0f36d0b,0.000075,0.0,0.0015
263,10,9,200,6,0,63,0x68000003f,0x6c0ce2535,0.000150,0.0,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
264,10,9,200,7,0,56,0x680000038,0x6c335833a,0.501750,0.489,0.5240
265,10,9,200,7,0,57,0x680000039,0x6c26f50c9,0.500475,0.483,0.5330
266,10,9,200,7,0,58,0x68000003a,0x6c0d5f6e6,0.500100,0.483,0.5175
267,10,9,200,7,0,59,0x68000003b,0x6c1f8a99f,0.000125,0.000,0.0015
268,10,9,200,7,0,60,0x68000003c,0x6c2255428,0.000125,0.000,0.0015
269,10,9,200,7,0,61,0x68000003d,0x6c314f635,0.000150,0.000,0.0015
270,10,9,200,7,0,62,0x68000003e,0x6c0c94116,0.000125,0.000,0.0015
271,10,9,200,7,0,63,0x68000003f,0x6c2293bb7,0.000125,0.000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
272,10,9,200,8,0,56,0x680000038,0x6c0cd860c,0.499475,0.484,0.5250
273,10,9,200,8,0,57,0x680000039,0x6c15a080a,0.501600,0.474,0.5205
274,10,9,200,8,0,58,0x68000003a,0x6c0a5adbe,0.498475,0.485,0.5165
275,10,9,200,8,0,59,0x68000003b,0x6c06f5742,0.000200,0.000,0.0015
276,10,9,200,8,0,60,0x68000003c,0x6c26d76ca,0.000300,0.000,0.0035
277,10,9,200,8,0,61,0x68000003d,0x6c21dd43d,0.000100,0.000,0.0015
278,10,9,200,8,0,62,0x68000003e,0x6c1e56991,0.000200,0.000,0.0015
279,10,9,200,8,0,63,0x68000003f,0x6c3b7dd43,0.000075,0.000,0.0015

,cnt,cnt2,loop_num,dummy_num,l,k,b_addr,t_addr,BrMispred_mean,BrMispred_min,BrMispred_max
280,10,9,200,9,0,56,0x680000038,0x6c0450b8e,0.500150,0.4830,0.5295
281,10,9,200,9,0,57,0x680000039,0x6c2fc9e35,0.501275,0.4790,0.5280
282,10,9,200,9,0,58,0x68000003a,0x6c1aa074b,0.501125,0.4855,0.5230
283,10,9,200,9,0,59,0x68000003b,0x6c313d3f8,0.000200,0.0000,0.0015
284,10,9,200,9,0,60,0x68000003c,0x6c36f4582,0.000250,0.0000,0.0015
285,10,9,200,9,0,61,0x68000003d,0x6c387401d,0.000225,0.0000,0.0020
286,10,9,200,9,0,62,0x68000003e,0x6c3980ca2,0.000175,0.0000,0.0015
287,10,9,200,9,0,63,0x68000003f,0x6c3e534c8,0.000125,0.0000,0.0015

In [ ]:
# my_df = pd.DataFrame(final_dfs)
# my_df.to_pickle('./script11_2/1.pkl')